body {
    margin: 0;
}
nav {
    background-color: lightcyan;
    text-align: center;
    height: 60px;
    padding-top: 50px;
}
.nav-link {
    margin: 10px 10px;
}

header {
    background-color: black;
    height: 400px;
}
h1 {
    color: lightpink;
    text-align: center;
}
.title-header {
    color: white;
    text-align: center;
}
button {
    background-color: purple;
    width: 150px;
    height: 40px;
    margin-left: 45%;
}
.apropos {
    text-align: center;
    background-color: blueviolet;
    height: 600px;
    padding-top: 40px;
}
.container-photo {
    float: left;
    margin-left: 30px;
}
img {
    clip-path:ellipse(50% 50%);
    height: 300px;
    width: 300px;
    
}
.texte-apropos {
    text-align: justify;
}
.mes-services {
    background-color: pink;
}
.my-skills {
    background-color: lightcoral;
}
.my-projects {
    background-color: lightsalmon;
}
.my-contact {
    background-color: lightgrey;
}
